@model ITKostnad.Models.ToPageModel
@{
    Layout = null;
}

<!DOCTYPE html>
<link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/css/main.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/css/misc.css">

<style>
    .container-contact100 {
        background-image: url('@Url.Content("~/images/bg-01.jpg")');
        background-size: cover;
        /* <------ */
        background-repeat: no-repeat;
        background-position: center center;
        /* optional, center the image */
    }

    .contact100-form-title {
        color: #0B4796
    }
</style>


<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ITKostnad</title>
</head>

<body>
    <div class="container-contact100">
        <div class="wrap-contact100">

            <span class="contact100-form-title">
                PARTILLE
            </span>

            <form asp-controller="Home" asp-action="Index" id="search" method="get">
                <p>

                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Datornamn</span>
                    <input class="input100" asp-for="SearchString" type="text" id="input" placeholder="ange datornamn"
                        autocomplete="off">
                    <span class="focus-input100"></span>
                </div>
                </p>
            </form>

            <form asp-controller="Home" asp-action="UpdateComputer" id="update" method="post">

                <input class="input100" asp-for="SelectedComputer.name" type="hidden" name="name">

                <div class="wrap-input100 input100-select">
                    <span class="label-input100">Förvaltning</span>
                    <div>
                        <select class="selection-2" asp-for="SelectedComputer.department" name="department">
                            <option></option>
                            <option>UF</option>
                            <option>KoF</option>
                            <option>SAF</option>
                            <option>SBK</option>
                            <option>KK</option>
                            <option>VOF</option>
                            <option>PBAB</option>
                            <option>KS</option>
                            <option>KF</option>
                        </select>
                    </div>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <span class="label-input100">Plats</span>
                    <input class="input100" asp-for="SelectedComputer.location" type="text" name="location"
                        placeholder="">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <span class="label-input100">Placering</span>
                    <input class="input100" asp-for="SelectedComputer.physicalDeliveryOfficeName" type="text"
                        name="physicalDeliveryOfficeName" placeholder="">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <span class="label-input100">Ansvarig</span>
                    <input class="input100" asp-for="SelectedComputer.extensionAttribute9" type="text"
                        name="extensionAttribute9" id="extensionAttribute9" placeholder="" autocomplete="off">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 input100-select">
                    <span class="label-input100">Personlig/Delad</span>
                    <div>
                        <select class="selection-2" asp-for="SelectedComputer.extensionAttribute13"
                            name="extensionAttribute13">
                            <option></option>
                            <option>Personlig</option>
                            <option>Delad</option>
                        </select>
                    </div>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Ersätt</span>
                    <input class="input100" asp-for="ReplaceString" type="text" name="ReplaceString" id="replace"
                        placeholder="ange datornamn" autocomplete="off">
                    <span class="focus-input100"></span>
                </div>
                <div id="dropDownSelect1"></div>

                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button class="contact100-form-btn disable" id="submit" disabled="true">
                            <span>
                                Spara
                            </span>
                        </button>
                    </div>
                </div>
            </form>


        </div>
    </div>

</body>

</html>


<!--===============================================================================================-->
<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/popper.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/js/misc.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/daterangepicker/moment.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/js/main.js"></script>

<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />


@Html.Raw(ViewBag.Message)

<script>
    var json = JSON.parse('@Html.Raw(Json.Serialize(Model))');
    var computers = json.computer.map(x => x.name);
    var users = json.user.filter(x => x.displayName);

    var button = document.getElementById("submit")
    var select = document.getElementById("SelectedComputer_name").value

    if (select != "") {
        $('#submit').removeClass("disable");
        $('#submit span').append('<i class="fa fa-long-arrow-right m-l-7"</i>')
        button.disabled = false;
    }

    autocompleteComputer(document.getElementById("input"), computers, 5);
    autocompleteComputer(document.getElementById("replace"), computers, 3)
    autocompleteUser(document.getElementById("extensionAttribute9"), users, 5)

    $('#input').on('focusout', function () {

        if (computers.includes(this.value)) {

            document.getElementById("search").submit();
        }
    });


    $('#replace').on('focusout', function () {

        if (this.value == "") {
            $('#submit span').text('Spara')
        } else {
            $('#submit span').text('Ersätt&spara')
        }

        if (computers.includes(this.value) || this.value == "") {
            button.disabled = false;
            $('#submit').removeClass("disable");
            $('#submit span').append('<i class="fa fa-long-arrow-right m-l-7"</i>')
        } else {
            $('#submit').addClass("disable");
            button.disabled = true;
        }
    });


</script>
